version: 2
jobs:
  build:
    macos:
      xcode: '16.0'
    steps:
      - checkout
      - run: yarn
      - run: mkdir -p ~/reports
      - run: yarn lint
      - run: yarn test:ci
      - run: yarn run dist
      - run: mv dist/*-x64.dmg dist/Kap-x64.dmg
      - run: mv dist/*-arm64.dmg dist/Kap-arm64.dmg
      - store_artifacts:
          path: dist/Kap-x64.dmg
      - store_artifacts:
          path: dist/Kap-arm64.dmg
      - store_test_results:
          path: ~/reports

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/ # Force CircleCI to build on tags
